.containerrrr {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.containerrrr img {
  height: 350px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  
}
.card-pad{
  padding: 50px;
}
.card {
  text-align: center;
  border-radius: 10px 10px;
  height: 550px;
  width: 290px;
  -webkit-box-shadow: 7px 9px 9px 1px rgba(0,0,0,0.5); 
  box-shadow: 7px 9px 9px 1px rgba(0,0,0,0.5);
}
.card h3 {
  padding: 20px;
}
.card p {
  padding: 10px;
}